<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Reservas MI NEGOCIO</title>
    <link rel="stylesheet" href="./estilos.css" />
  </head>
  <body>
    <form action="" class="formulario">
      <img src="logo.png" class="imgLogo" />

      <h1 class="formulario__titulo">MI APLICACION</h1>
      <h3 class="formulario__subtitulo">Reservas</h3>
      <p class="formulario__parrafo">
        Llena este pequeño formulario para agendar tu cita en MI NEGOCIO.
      </p>

      <label for="cliente" class="formulario__label">¿Cuál es tu nombre?</label>
      <input
        id="cliente"
        type="text"
        class="formulario__input"
        placeholder="Indica cuál es tu nombre completo"
      />

      <label for="cliente" class="formulario__label">¿Cuál es tu apellido?</label>
      <input
        id="apellido"
        type="text"
        class="formulario__input"
        placeholder="Ingrese su apellido completo"
      />

      <label for="cliente" class="formulario__label">¿Cuál es tu correo electrónico?</label>
      <input
        id="correo"
        type="text"
        class="formulario__input"
        placeholder="Escriba su correo electrónico"
      />

      <div id="respuesta"></div>

      <button id="submit" class="formulario__submit">Enviar a WhatsApp</button>
    </form>
    <script src="./form.js"></script>
  </body>
</html>